In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/aug/data_aug_2024-03-25.csv")
df_dem = pd.read_csv("data/LocalLogic/Demographics/demographics_for_2024-03-25.csv")
df_loc = pd.read_csv("data/LocalLogic/Locations/locations_for_2024-03-25.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90765 entries, 0 to 90764
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        90765 non-null  int64
 1   id_mls                    90765 non-null  object
 2   bathrooms_total           90765 non-null  float64
 3   bedrooms_extra            90765 non-null  float64
 4   bedrooms                  90765 non-null  float64
 5   stories_total             90765 non-null  float64
 6   size_interior             90765 non-null  float64
 7   building_type             90765 non-null  object
 8   agency_name               90765 non-null  object
 9   agency_type               90765 non-null  object
 10  property_type             90765 non-null  object
 11  lng                       90765 non-null  float64
 12  lat                       90765 non-null  float64
 13  ownership_type            90765 non-null  object
 14  ownership_type_group_ids  90765 non-null  int64
 15  land_size                 79004 non-null  object
 16  parkings                  90765 non-null  float64
 17  page_url                  90765 non-null  object
 18  timestamp                 90765 non-null  float64
 19  postal_code               90429 non-null  object
 20  province                  90765 non-null  object
 21  price                     90765 non-null  float64
dtypes: float64(10), int64(2), object(10)
memory usage: 15.2+ MB

In [4]:
df_dem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90728 entries, 0 to 90727
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          90728 non-null  float64
 1   household_income            89895 non-null  float64
 2   individual_income           89895 non-null  float64
 3   commute_transit             89895 non-null  float64
 4   commute_foot                89895 non-null  float64
 5   commute_bicycle             89895 non-null  float64
 6   commute_drive               89895 non-null  float64
 7   single_family               89895 non-null  float64
 8   multi_family                89895 non-null  float64
 9   single_person               89895 non-null  float64
 10  multi_person                89895 non-null  float64
 11  total_individuals           89895 non-null  float64
 12  age_0_to_4                  89895 non-null  float64
 13  age_5_to_9                  89895 non-null  float64
 14  age_10_to_14                89895 non-null  float64
 15  age_15_to_19                89895 non-null  float64
 16  age_20_to_34                89895 non-null  float64
 17  age_35_to_49                89895 non-null  float64
 18  age_50_to_64                89895 non-null  float64
 19  age_65_to_79                89895 non-null  float64
 20  age_80_plus                 89895 non-null  float64
 21  owners                      89895 non-null  float64
 22  renters                     89895 non-null  float64
 23  lang_en_only                89895 non-null  float64
 24  lang_fr_only                89895 non-null  float64
 25  lang_en_and_fr              89895 non-null  float64
 26  lang_other                  89895 non-null  float64
 27  edu_no_high_school          89895 non-null  float64
 28  edu_high_school             89895 non-null  float64
 29  edu_trade_certificate       89895 non-null  float64
 30  edu_college_certificate     89895 non-null  float64
 31  edu_university_certificate  89895 non-null  float64
 32  edu_bachelor_degree         89895 non-null  float64
 33  edu_post_graduate_degree    89895 non-null  float64
 34  household_children          89895 non-null  float64
 35  area_single_detached        89895 non-null  float64
 36  area_semi_detached          89895 non-null  float64
 37  area_duplex                 89895 non-null  float64
 38  area_row_houses             89895 non-null  float64
 39  area_apt_1_to_4_floors      89895 non-null  float64
 40  area_apt_5_plus_floors      89895 non-null  float64
dtypes: float64(41)
memory usage: 28.4 MB

In [5]:
df_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90709 entries, 0 to 90708
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       90709 non-null  float64
 1   loc_high_schools         90693 non-null  float64
 2   loc_primary_schools      90693 non-null  float64
 3   loc_transit_friendly     90693 non-null  float64
 4   loc_groceries            90693 non-null  float64
 5   loc_wellness             90693 non-null  float64
 6   loc_restaurants          90693 non-null  float64
 7   loc_pedestrian_friendly  90693 non-null  float64
 8   loc_greenery             90693 non-null  float64
 9   loc_cycling_friendly     90693 non-null  float64
 10  loc_car_friendly         90693 non-null  float64
 11  loc_vibrant              90693 non-null  float64
 12  loc_shopping             90693 non-null  float64
 13  loc_daycares             90693 non-null  float64
 14  loc_nightlife            90693 non-null  float64
 15  loc_cafes                90693 non-null  float64
 16  loc_quiet                90693 non-null  float64
 17  loc_parks                90693 non-null  float64
dtypes: float64(18)
memory usage: 12.5 MB

In [6]:
df_dem["id"] = df_dem["id"].astype(int)
df_loc["id"] = df_loc["id"].astype(int)

In [7]:
df_dem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90728 entries, 0 to 90727
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          90728 non-null  int64
 1   household_income            89895 non-null  float64
 2   individual_income           89895 non-null  float64
 3   commute_transit             89895 non-null  float64
 4   commute_foot                89895 non-null  float64
 5   commute_bicycle             89895 non-null  float64
 6   commute_drive               89895 non-null  float64
 7   single_family               89895 non-null  float64
 8   multi_family                89895 non-null  float64
 9   single_person               89895 non-null  float64
 10  multi_person                89895 non-null  float64
 11  total_individuals           89895 non-null  float64
 12  age_0_to_4                  89895 non-null  float64
 13  age_5_to_9                  89895 non-null  float64
 14  age_10_to_14                89895 non-null  float64
 15  age_15_to_19                89895 non-null  float64
 16  age_20_to_34                89895 non-null  float64
 17  age_35_to_49                89895 non-null  float64
 18  age_50_to_64                89895 non-null  float64
 19  age_65_to_79                89895 non-null  float64
 20  age_80_plus                 89895 non-null  float64
 21  owners                      89895 non-null  float64
 22  renters                     89895 non-null  float64
 23  lang_en_only                89895 non-null  float64
 24  lang_fr_only                89895 non-null  float64
 25  lang_en_and_fr              89895 non-null  float64
 26  lang_other                  89895 non-null  float64
 27  edu_no_high_school          89895 non-null  float64
 28  edu_high_school             89895 non-null  float64
 29  edu_trade_certificate       89895 non-null  float64
 30  edu_college_certificate     89895 non-null  float64
 31  edu_university_certificate  89895 non-null  float64
 32  edu_bachelor_degree         89895 non-null  float64
 33  edu_post_graduate_degree    89895 non-null  float64
 34  household_children          89895 non-null  float64
 35  area_single_detached        89895 non-null  float64
 36  area_semi_detached          89895 non-null  float64
 37  area_duplex                 89895 non-null  float64
 38  area_row_houses             89895 non-null  float64
 39  area_apt_1_to_4_floors      89895 non-null  float64
 40  area_apt_5_plus_floors      89895 non-null  float64
dtypes: float64(40), int64(1)
memory usage: 28.4 MB

In [8]:
df_mrg = pd.merge(df, df_dem, on="id")
df_mrg = pd.merge(df_mrg, df_loc, on="id")

In [9]:
df_mrg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90686 entries, 0 to 90685
Data columns (total 79 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          90686 non-null  int64
 1   id_mls                      90686 non-null  object
 2   bathrooms_total             90686 non-null  float64
 3   bedrooms_extra              90686 non-null  float64
 4   bedrooms                    90686 non-null  float64
 5   stories_total               90686 non-null  float64
 6   size_interior               90686 non-null  float64
 7   building_type               90686 non-null  object
 8   agency_name                 90686 non-null  object
 9   agency_type                 90686 non-null  object
 10  property_type               90686 non-null  object
 11  lng                         90686 non-null  float64
 12  lat                         90686 non-null  float64
 13  ownership_type              90686 non-null  object
 14  ownership_type_group_ids    90686 non-null  int64
 15  land_size                   78934 non-null  object
 16  parkings                    90686 non-null  float64
 17  page_url                    90686 non-null  object
 18  timestamp                   90686 non-null  float64
 19  postal_code                 90350 non-null  object
 20  province                    90686 non-null  object
 21  price                       90686 non-null  float64
 22  household_income            89874 non-null  float64
 23  individual_income           89874 non-null  float64
 24  commute_transit             89874 non-null  float64
 25  commute_foot                89874 non-null  float64
 26  commute_bicycle             89874 non-null  float64
 27  commute_drive               89874 non-null  float64
 28  single_family               89874 non-null  float64
 29  multi_family                89874 non-null  float64
 30  single_person               89874 non-null  float64
 31  multi_person                89874 non-null  float64
 32  total_individuals           89874 non-null  float64
 33  age_0_to_4                  89874 non-null  float64
 34  age_5_to_9                  89874 non-null  float64
 35  age_10_to_14                89874 non-null  float64
 36  age_15_to_19                89874 non-null  float64
 37  age_20_to_34                89874 non-null  float64
 38  age_35_to_49                89874 non-null  float64
 39  age_50_to_64                89874 non-null  float64
 40  age_65_to_79                89874 non-null  float64
 41  age_80_plus                 89874 non-null  float64
 42  owners                      89874 non-null  float64
 43  renters                     89874 non-null  float64
 44  lang_en_only                89874 non-null  float64
 45  lang_fr_only                89874 non-null  float64
 46  lang_en_and_fr              89874 non-null  float64
 47  lang_other                  89874 non-null  float64
 48  edu_no_high_school          89874 non-null  float64
 49  edu_high_school             89874 non-null  float64
 50  edu_trade_certificate       89874 non-null  float64
 51  edu_college_certificate     89874 non-null  float64
 52  edu_university_certificate  89874 non-null  float64
 53  edu_bachelor_degree         89874 non-null  float64
 54  edu_post_graduate_degree    89874 non-null  float64
 55  household_children          89874 non-null  float64
 56  area_single_detached        89874 non-null  float64
 57  area_semi_detached          89874 non-null  float64
 58  area_duplex                 89874 non-null  float64
 59  area_row_houses             89874 non-null  float64
 60  area_apt_1_to_4_floors      89874 non-null  float64
 61  area_apt_5_plus_floors      89874 non-null  float64
 62  loc_high_schools            90670 non-null  float64
 63  loc_primary_schools         90670 non-null  float64
 64  loc_transit_friendly        90670 non-null  float64
 65  loc_groceries               90670 non-null  float64
 66  loc_wellness                90670 non-null  float64
 67  loc_restaurants             90670 non-null  float64
 68  loc_pedestrian_friendly     90670 non-null  float64
 69  loc_greenery                90670 non-null  float64
 70  loc_cycling_friendly        90670 non-null  float64
 71  loc_car_friendly            90670 non-null  float64
 72  loc_vibrant                 90670 non-null  float64
 73  loc_shopping                90670 non-null  float64
 74  loc_daycares                90670 non-null  float64
 75  loc_nightlife               90670 non-null  float64
 76  loc_cafes                   90670 non-null  float64
 77  loc_quiet                   90670 non-null  float64
 78  loc_parks                   90670 non-null  float64
dtypes: float64(67), int64(2), object(10)
memory usage: 54.7+ MB

In [10]:
df_mrg[df_mrg["household_income"].isna()]["province"].value_counts()

province
British Columbia           246
Ontario                    141
Alberta                    112
Quebec                      93
Saskatchewan                72
Nova Scotia                 48
Manitoba                    42
Prince Edward Island        22
New Brunswick               20
Newfoundland & Labrador     11
Yukon                        4
Northwest Territories        1
Name: count, dtype: int64

In [14]:
df_mrg.corr(numeric_only=True)["price"].sort_values(ascending=False).head(20)

price                         1.000000
bathrooms_total               0.471209
household_income              0.411008
individual_income             0.411008
bedrooms                      0.315667
edu_bachelor_degree           0.298261
edu_post_graduate_degree      0.295216
lang_other                    0.256022
edu_university_certificate    0.253007
multi_family                  0.242228
parkings                      0.198080
loc_parks                     0.195017
area_duplex                   0.190957
loc_wellness                  0.179005
lang_en_only                  0.151852
single_family                 0.135361
commute_transit               0.134977
commute_bicycle               0.129295
loc_transit_friendly          0.128949
age_15_to_19                  0.103098
Name: price, dtype: float64